* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #333;
}

p {
  font-weight: 500;
}

/* NAVBAR */
#navbar {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 15px #00000021;
}

#navbar img {
  max-height: 6vh;
}

/* HEADER */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 3em 10%;
}

header img {
  max-width: 100%;
  border-radius: 10px;
}

/* MAIN */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 10%;
  margin-bottom: 10vh;
}

.about-container .content {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
  margin-bottom: 1em;
}

.about-container .content .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.about-container .content img {
  width: 50%;
  border-radius: 10px;
}

.facts-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
  padding: 10vh 10%;
  background-color: #222;
  color: #eee;
}

.fact {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.fact .number {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  font-size: 70px;
}

.fact p {
  text-align: center;
}

.services-container {
  padding: 10vh 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.service {
  box-shadow: 0 0 5px #00000021;
  width: 25%;
  border-bottom: 1px solid #222;
  padding-bottom: 1em;
  background-color: #fff;
}

.service .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: #222;
  color: #eee;
  border-radius: 10px;
  font-size: 35px;
}

.service .text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1em 2em;
  text-align: center;
}

.support-container {
  padding: 0 10%;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.support-container .title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.support {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.support .doubt-section {
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
}

.support .response-section {
  background-color: #eee;
  padding: 1.5em;
  display: none;
}

/* FOOTER */
footer .content {
  display: flex;
  align-items: center;
  padding: 2em 10%;
  justify-content: space-between;
  background-color: #eee;
}

footer .content img {
  max-height: 10vh;
}

footer .content .contacts {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

footer .content .contacts .contact {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

footer .content .icons a {
  font-size: 30px;
  color: #222;
  margin: 0 10px;
  transition: 0.3s;
}

footer .content .icons a:hover {
  opacity: 0.8;
}

footer .rights {
  display: flex;
  justify-content: center;
  padding: 1.5em;
  border-top: 1px solid #ccc;
  background-color: #eee;
}

footer .rights span {
  margin-right: 3px;
}

@media screen and (max-width: 800px) {
  h1,
  h2,
  p {
    text-align: center;
  }

  .about-container .content {
    flex-direction: column;
  }

  .about-container .content .text,
  .about-container .content img {
    width: 100%;
  }

  .facts-container {
    flex-direction: column;
  }

  .fact {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .services-container {
    flex-direction: column;
  }

  .service {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .support .doubt-section p {
    padding-right: 1em;
  }

  footer .content {
    flex-direction: column;
    gap: 30px;
  }
}
