* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  color: #333;
}

/* NAVBAR */
#navbar {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 15px #00000021;
}

#navbar img {
  max-height: 6vh;
}

/* HEADER */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1.5em 10%;
}

header img {
  max-width: 100%;
  border-radius: 10px;
}
